# Ignore the large SIF file
murfi-rt-PyProject/scripts/murfi2.1.sif

# Ignore all .log files
*.log

# Ignore a directory
build/

# Ignore all subject folders in murfi-rt-PyProject/subjects/
murfi-rt-PyProject/subjects/*/
# Except the 'template' folder
!murfi-rt-PyProject/subjects/template/

# Large neuroimaging files
# Large neuroimaging files (ignore processed/subject data, keep templates)
murfi-rt-PyProject/subjects/*/rest/*.nii
murfi-rt-PyProject/subjects/*/rest/*.nii.gz
murfi-rt-PyProject/subjects/*/img/
murfi-rt-PyProject/subjects/*/rest/rs_network.gica/
murfi-rt-PyProject/subjects/*/rest/rs_network.ica/

# Keep small template/example files
!murfi-rt-PyProject/scripts/*.nii
!murfi-rt-PyProject/subjects/template/**/*.nii

